cffi==1.9.1
CodernityDB==0.5.0
conda==4.3.25
cryptography==1.7.1
Cython==0.25.2
docutils==0.13.1
idna==2.2
Kivy==1.10.0
Kivy-Garden==0.1.4
psutil==5.2.2
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.17
Pygments==2.2.0
pyOpenSSL==16.2.0
requests==2.12.4
six==1.10.0
